<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>名前</th>
            <th>値段
            </th>
            <th>色</th>

        </tr>
    <tr th:each="item:${itemList}">
    <!-- <span th:text="${status.count}"></span> -->
        <td th:text="${item.name}">dummy</td>
        <td th:text="${item.price}">dummy</td>
        <td th:text="${item.color}">dummy</td>
    </tr>
   </table>
</body>
</html>